<%include partials/header.ejs%>
<link rel="stylesheet" type="text/css" href="/todos.css">
<div id="container">
	<h1>To-Do List <i class="fa fa-plus"></i></h1>
	<input id="inputtext" type="text" placeholder="Add New Todo">


	<ul id="todolist">
		<%for(var i=0;i<user.todo.length;i++){%>
		<li>

		<span data-id="<%=user.todo[i].id%>"><i class="fa fa-trash"></i></span>

		<%=user.todo[i].task%>
		</li>

		<%}%>

	</ul>
</div>



<script type="text/javascript">
	
function removeTodo(todo){
	todo.remove();
}

$("ul").on("click","span",function(event){

	//event.stopPropagation();

	var dataid = $(this).attr("data-id");
				
	$.ajax({
			type:'POST',
			url: '/<%=user._id%>/todo/'+ dataid + '?_method=DELETE'})

			.then(function()
			{
				
				//reBuildTodo();
				// $(this).parent().fadeOut(500,function(){
				// 	$(this).remove();
				//  });
				//console.log('success function of delete called!')
				event.stopPropagation();

				removeTodo($('[data-id =' + dataid + ']').parent());
			})
			.catch(function(error)
			{
				console.log('error!!!!');
			})
		


});

function addTodo(todo){
				
				//console.log(todo + "hello");
				$("#todolist").append("<li><span data-id ="+ todo._id +"><i class='fa fa-trash'></i></span> " + todo.task  + "</li>")
}

$("#inputtext").keypress(function(event){
	if(event.which == 13){
		//grabbing new todo text from input
		var todoText = $('#inputtext').val();
		//$(this).val("");
		//create a new li and add to ul
		

		$.ajax({
			type: 'POST',
			url:'/<%=user.id%>/todo',
			data: {task:todoText} })
			.then(function(newTodo){
				//reBuildTodo();
				$('#inputtext').val("");
				//console.log('hello')
				addTodo(newTodo);
			})
			.catch(function()
			{
				console.log('error');
			})
	}
});

$(".fa-plus").click(function(){
	$("input[type='text'").fadeToggle()
});


</script>

<%include partials/footer.ejs%>